<% if !node.blank? %>
  <span class="pull-right">话题总数 <strong class="gray"><%= node.topics_count %></strong> • <a href="">收藏这个节点</a></span>
  <h3><%= node.name %></h3>
  <span><%= simple_format(node.description) %></span>
<% end %>