<div class="row">
  <div class="span8">
    <div class="box">
      <div id="node-info" class="clearfix">
        <%= render 'node_info', node: @node %>
      </div>
      <% if @topics.any? %>
        <ul class="topics">
        <%= render partial: "topics/topic_item", collection: @topics %>
        </ul>
        <%= will_paginate @topics, inner_window: 2 %>
      <% else %>
        <strong>Srroy, have nothing yet! 对不起，还没有任何内容！</strong>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <%= render 'common/right_column' %>
  </div>
</div>