// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Topic show
#topic-show {
  .topic-header {
    position: relative;
    display: block;
    min-height: 72px;
    .content {
      margin-right: 82px;
      h1.entry-title{
        font-size: 1.5em;
      }
      .avatar {
        position: absolute;
        top: 0;
        right: 0;
        height: 72px;
        width: 72px;
      }
      small.metadata {
        color: #999;
        display: block;
        line-height: 2em;
        vertical-align: baseline;
        a.author {
          color: #778087;
          &:hover {
            color: #4D5256;
            text-decoration: none;
            text-shadow:
              0 0 2px rgba(0,0,0,0.2),
              0 0 3px rgba(0,0,0,0.2),
              0 0 4px rgba(0,0,0,0.2);
              -webkit-transition: all .2s linear;
                 -moz-transition: all .2s linear;
                      transition: all .2s linear;
          }
        }
      }
      .topic-content {
        padding: 1em 0 1em 0;
      }   
    }
  }
  .topic-toolbox {
    color: #999;
    min-height: 20px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        line-height: 20px;
        a {
          color: #999;
        }
        i.active {
          color: #9A3C15;
        }
        &:hover {
          i {
            color: #9A3C15; //#666;
            -webkit-transition: all .2s linear;
               -moz-transition: all .2s linear;
                    transition: all .2s linear;
          }
          a {
            text-decoration: none;
            color: #666;
            -webkit-transition: all .2s linear;
               -moz-transition: all .2s linear;
                    transition: all .2s linear;
          }
        }
      }
    }      
  }
  // Follow
  a.follow {
    color: #666;
    margin: 0 0 -2px 3px;
    padding: 3px;
    width: 8px;
    height: 8px;
    background: #d3d3d3 url(glass-30.png) repeat-x 0 50%;
    display: inline-block;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    &:hover {
      border-color: #8ABA56;
      background-color: #8ABA56;
      text-decoration: none;
      -webkit-transition: all .2s linear;
         -moz-transition: all .2s linear;
              transition: all .2s linear;
    }
    span {
      background-image: url(icon-mini-follow.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      padding-left: 8px;
      text-indent: -999em;
      display: block;
    }
  }
  a.following {
    color: #666;
    margin: 0 0 -2px 3px;
    padding: 3px;
    width: 8px;
    height: 8px;
    background: #8ABA56 url(glass-30.png) repeat-x 0 50%;
    display: inline-block;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    &:hover {
      border-color: #EA4C89;
      background-color: #EA4C89;
      text-decoration: none;
      -webkit-transition: all .2s linear;
         -moz-transition: all .2s linear;
              transition: all .2s linear;
      span {
        color: #f9c;
        background-image: url(icon-mini-unfollow.png);
      }
    }
    span {
      background-image: url(icon-mini-following.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      padding-left: 8px;
      text-indent: -999em;
      display: block;
    }
  }
}
#reply {
  .submit-buttons {
    span {
      line-height: 28px;
    }
  }
}
#replies-show {
  .summary {
    margin-bottom: 10px;
  }
}
ul.replies {
  padding: 0;
  margin: 0 -10px;
  list-style: none;
  >li:first-child {
    border-top: 1px solid #DDD;
  }
  >li.reply-item {
    padding: 10px;
    border-bottom: 1px solid #DDD;
    .item-detail {
      position: relative;
      display: block;
      .content {
        min-height: 48px;
        margin-left: 58px;
        margin-right: 10px;
        .avatar{
          position: absolute;
          top: 0;
          left: 0;
        }
        .small {
          font-size: 0.9em;
          color: #CCC;
          display: block;
          line-height: 24px;
          height: 24px;
          a.author {
            color: #778087;
            &:hover {
              color: #4D5256;
              text-decoration: none;
              text-shadow:
                0 0 2px rgba(0,0,0,0.2),
                0 0 3px rgba(0,0,0,0.2),
                0 0 4px rgba(0,0,0,0.2);
                -webkit-transition: all .2s linear;
                   -moz-transition: all .2s linear;
                        transition: all .2s linear;
            }
          }
          .published {
            margin: 0 1em;
          }
          .reply-likeable {
            color: #999;
            i {
              // margin-right: 1px;
            }
          }
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              display: inline;
              // font-size: 1.5em;
              &.no {
                background-color: #F0F0F0;
                color: #CCC;
                display: inline-block;
                line-height: 10px;
                font-size: 10px;
                padding: 2px 5px 2px 5px;
                font-weight: bold;
                border-radius: 10px;
                  -webkit-border-radius: 10px;
                     -moz-border-radius: 10px;
              }
            }
          }                   
        }
        .reply-content {
          line-height: 24px;
        }
      }  
    } 
    .small li a {
      color: #999;
      font-size: 1.5em;
      opacity: 0;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
    }
    &:hover {
      .small li a{
        opacity: 0.5;
        &:hover {
          color: #9A3C15; 
          opacity: 1;
          text-decoration: none;
        }
        i.active {
          color: #9A3C15; 
        }
      }
    }  
  }
  >li:last-child {
    border-bottom: 0 solid #DDD;
  }
}

// Topic index
ul.topics {
  padding: 0;
  // margin: 0;
  margin: 0 -10px;
  list-style: none;
  li:first-child {
    border-top: 1px solid #DDD;
  }
  li.topic-item {
    padding: 10px;
    border-bottom: 1px solid #DDD;
    .item-detail {
      position: relative;
      display: block;
      .content {
        min-height: 48px;
        margin-left: 58px;
        .avatar{
          position: absolute;
          top: 0;
          left: 0;
        }
        .item-title {
          display: block;
          a {
            color: #778087;
            font-size: 1.2em;
            line-height: 24px;
          }
          a:hover {
            color: #4D5256;
            text-decoration: none;
            text-shadow:
              0 0 2px rgba(0,0,0,0.2),
              0 0 3px rgba(0,0,0,0.2),
              0 0 4px rgba(0,0,0,0.2);
              -webkit-transition: all .2s linear;
                 -moz-transition: all .2s linear;
                      transition: all .2s linear;
          }
        }
        .small {
          font-size: 0.9em;
          color: #CCC;
          display: block;
          a.author {
            color: #778087;
            &:hover {
              color: #4D5256;
              text-decoration: none;
              text-shadow:
                0 0 2px rgba(0,0,0,0.2),
                0 0 3px rgba(0,0,0,0.2),
                0 0 4px rgba(0,0,0,0.2);
                -webkit-transition: all .2s linear;
                   -moz-transition: all .2s linear;
                        transition: all .2s linear;
            }
          }
          a.node {
            background-color: whiteSmoke;
            font-size: 0.85em;
            line-height: 11px;
            display: inline-block;
            padding: 4px 4px 4px 4px;
            border-radius: 2px;
              -webkit-border-radius: 2px;
                 -moz-border-radius: 2px;
            text-decoration: none;
            color: #999;
          }
          a.node:hover {
            text-decoration: none;
            background-color: #E2E2E2;
            color: #777;
            text-shadow: none;
            -webkit-transition: all .2s linear;
               -moz-transition: all .2s linear;
                    transition: all .2s linear;
          }
          strong.badge {
          }
        }
      }     
    }
  }
}
#node-info {
  span {
    font-size: 0.9em;
    color: #CCC;
    display: block;
    a {
      color: #778087;
      &:hover {
        color: #4D5256;
        text-decoration: none;
        text-shadow:
          0 0 2px rgba(0,0,0,0.2),
          0 0 3px rgba(0,0,0,0.2),
          0 0 4px rgba(0,0,0,0.2);
          -webkit-transition: all .2s linear;
             -moz-transition: all .2s linear;
                  transition: all .2s linear;
      }
    }
  }
}

// Topic new
.form-horizontal .editor_tools {
  margin: 0;
}
.editor_toolbar {
  ul.pills {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline;
      padding: 3px;
      a{
        color: #444;
        &:hover,
        &:active {
          text-decoration: none;
          color: #666;
        }
      }
      &.active {
        border: 1px solid #DDD;
        background-color: whiteSmoke;
        border-radius: 2px;
          -webkit-border-radius: 2px;
             -moz-border-radius: 2px;
      }
    }
  }
}