<p>你好 <%= @resource.login %>!</p>

<p>你的账号由于多次尝试登录<%= SITE_NAME %>而被自动冻结。</p>

<p>请点击下面链接及时解冻你的账号:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @resource.unlock_token) %></p>
