<div class="pull-right">
  <a href="#"><i class="icon-chevron-up"></i>BACK TO TOP</a>
</div>

<strong>&copy; <%= SITE_NAME %>  </strong>
<i class="icon-inbox"></i><br/>
<span class="label label-info">VERSION: 1.0.0-dev</span>