<%= render 'common/mini_profile' %>

<div class="box statement">
  <h3>#{ puts 'Hello, World!' } </h3>
  <span>#=> This is <strong>Formula</strong>, an online lightweight Geeks' community, which aims to bring all Geeks and Nerds together and make sharing cool stuff on the web, so enjoy here and have fun! <strong>Live long and prosper.</strong></span>
</div>

<div class="placeholder">
  <span>没有添加组件</span>
</div>

<div class="sponsored">
  <span>没有广告赞助商</span>
</div>